packages/
*.jbc
*.jir
__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
*.swp
node_modules/
.jac/
*.session
*.session.*

.jac-ide/
export-*.jacpack
__jac_gen__/
dist/
.env
.jac-preview.log
.jac-server.log
.jac-ide-bashrc
.jaccoder/
